{% extends 'layout.html' %}
{% block content %}
<div class="container mx-auto p-4">
    <table class="min-w-full bg-white border border-gray-200">
        <thead>
            <tr class="w-full bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">Nombre</th>
                <th class="py-3 px-6 text-left">Apellido</th>
                <th class="py-3 px-6 text-left">Correo</th>
                <th class="py-3 px-6 text-left">Telefono</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            {% for user in users %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left whitespace-nowrap">{{ user.username }}</td>
                <td class="py-3 px-6 text-left">{{ user.lastname }}</td>
                <td class="py-3 px-6 text-left">{{ user.email }}</td>
                <td class="py-3 px-6 text-left">{{ user.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4">
        <a href="{% url 'addUser' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Agregar usuario</a>
    </div>
</div>
{% endblock %}